<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style = "font-family:'Dosis',sans-serif;color:#56b156;">Hi, <%= @contributor.name %>!</h1>
    <p style = "font-family:'Dosis',sans-serif">
      Thank you for using our platform! 
      You have just subscribed to a new event: <%= @event.name %>!
      Remember that the date of this event is <%= @event.startDate %>!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>